<header id="header">
  <h1 class="logo">
    <a href="/">
      <img src="./assets/icons/logo.svg" alt="카스카디아 로고" />
    </a>
  </h1>
  <!-- // H1 -->
  <div class="btn-toggle-modal-site-map" role="button">
    <span class="blind">사이트 전체 메뉴 열기</span>
    <span class="text">Menu</span>
    <div class="icon-hamburger">
      <span class="mid"></span>
    </div>
  </div>
  <!-- // BTN TOGGLE MODAL SITE MAP -->
  <nav>
    <ul>
      <li class="on"><a href="javascript:void(0);">INTRO</a></li>
      <li><a href="javascript:void(0);">CASCADIA</a></li>
      <li><a href="javascript:void(0);">GOLF CLUB</a></li>
      <li><a href="javascript:void(0);">SUITES</a></li>
      <li><a href="javascript:void(0);">VILLAS</a></li>
      <li><a href="javascript:void(0);">LOCATION</a></li>
    </ul>
    <span class="sliding-underline"></span>
  </nav>
  <!-- // NAV -->
</header>
